@using BookShop.Models
@using X.PagedList.Mvc.Core
@using X.PagedList
@* @model IEnumerable<Products> *@
	@model IPagedList<BookShop.Models.Products>
@{
	ViewData["Title"] = "Index";
	//Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<br />
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Book List</h2>
	</div>

	<div class="col-6 text-right">
		<a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp;Add New Book</a>
	</div>

</div>

<form method="post">
	<div class="row">
		<div class="col-2">
	
			<input type="number" class="form-control" name="lowPrice" placeholder="Low Price" />
		</div>
		<div class="col-2">
	
			<input type="number" class="form-control" name="highPrice" placeholder="High Price"/>
		</div>
		<div class="col-2">
			<label></label>
			<input type="submit" value="Search" class="btn btn-primary"/>
		</div>
		<div class="col-3"></div>
	</div>
</form>

<br />

<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(c => c[0].Name)
			</th>

			<th>@Html.DisplayNameFor(c => c[0].Author)</th>

			<th>
				@Html.DisplayNameFor(c => c[0].Price)
			</th>

			<th>
				@Html.DisplayNameFor(c => c[0].IsAvailabel)
			</th>

			<th>
				@Html.DisplayNameFor(c => c[0].ProductTypeId)
			</th>


			<th></th>
			<th></th>

			@foreach (var item in Model)
			{
			<tr>
				<td>
						@item.Name
				</td>
				<td>
						@item.Author
				</td>
				<td>
						@item.Price
				</td>

				<td>
						@item.IsAvailabel
				</td>

				<td>
						@item.ProductTypes.ProductType
				</td>

				<td>
					<partial name="_ButtonPartial" model="@item.Id" />
				</td>
			</tr>


			}
		</>
	</table>
</div>

<div>
	@Html.PagedListPager(Model, c => Href("~/Admin/Products/Index?page=" + c))
</div>


@section scripts {
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var msg = '@TempData["alertMsg"]'
			var Type = '@TempData["type"]'
			if(Type == "Create" || Type == "update")
			{
				alertify.success(msg);

			}
			else if(Type == "delete"){
				alertify.error(msg);
			}
		})
	</script>
}