@using BookShop.Models
@model IEnumerable<Order>
@{
    ViewData["Title"] = "All Orders";
}

<h2>Orders</h2>

<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            <th>Order No</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Total Price</th>

            <th>Status</th>
            <th></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.CustomerName</td>

                <td>@order.OrderDate</td>
                <td>@order.TotalPrice</td>
                

                @if(order.Status == "Pending")
                {
                    <td class="text-danger">@order.Status</td>
                }
                else if (order.Status == "InProcess")
                {
                    <td class="text-warning">@order.Status</td>
                }
                else if (order.Status == "Shipped")
                {
                    <td class="text-info">@order.Status</td>
                }
                else
                {
                    <td class="text-success">@order.Status</td>
                }


                <td>
                    <form asp-action="UpdateOrderStatus" method="post">
                        <input type="hidden" name="id" value="@order.Id" />
                        <select name="status" class="form-select form-select-sm d-inline" style="width:auto;">
                            <option value="Pending" selected="@(order.Status == "Pending" ? "selected" : null )">Pending</option>
                            <option value="InProcess" selected="@(order.Status == "InProcess" ? "selected" : null )">InProcess</option>
                            <option value="Shipped" selected="@(order.Status == "Shipped" ? "selected" : null )">Shipped</option>
                            <option value="Delivered" selected="@(order.Status == "Delivered" ? "selected" : null )">Delivered</option>
                        </select>
                        <button type="submit" class="btn btn-warning btn-sm">Update</button>
                    </form>
                </td>

                <td width="150">

                    <a asp-action="OrderDetails" asp-route-id="@order.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="DeleteOrder" asp-route-id="@order.Id" class="btn btn-danger btn-sm">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>



